<!DOCTYPE html>
<html lang="es"
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>logo Empresa</h1>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Servicios</a></li>
                <li><a href="#">Sobre Nosotros</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <h1>Titulo del Tema</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Eum culpa obcaecati at a doloremque numquam, cumque fuga beatae! Dolorum officia corrupti
                impedit repudiandae at! Facere velit illo quam eaque facilis?
            </p>
        </section>
    </main>

    <footer>
        <p>&copy;Derechos Reservados 2024 - Liang Reyes</p>
    </footer>
</body>
</html>